



body{
   font-family: 'Crimson Text', serif;
   background-size: 100%;
   background-image:url("Dark-Theme-Wallpaper-11.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
}


.topnav {
   overflow: hidden;
   background-color: rgba(189, 159, 202, 0.664);
 }
 
 .topnav a {
   float: right;
   color: #f2f2f2;
   text-align: center;
   padding: 15px;
   margin: 20px;
   text-decoration: none;
   font-size: 13px;
   background-color: transparent;
 }
 
 .topnav a:hover {
   color: #ff7b00;
 }
 
 .topnav a.active {
     color: #ff9100;
 }


 .contentcolour{ 
      font-size: 70px;
      color: #f2f2f2;
     border-radius: 50%;
   
 }
 

.cover1{
    background-color: #635d5d86;
    width: auto;
    height: auto;
       
}

hr.new1
{      border-top: 25px dotted white;
   width:100px;
 }
 

/*all the contact css */
.contact{
   font-size: 50px;
   text-align: center;

}


.input[type=text], select, textarea {
   width: 300px;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 10px;
   margin-bottom: 16px;
   resize: vertical;
   border-color: white;
 }

 .input[type=submit] {
   background-color: #0F1338;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }

 .input[type=submit]:hover {
   background-color: #0D155A ;
 }

 .container {
   border-radius: 5px;
   padding: 20px;
   color: rgba(201, 146, 27, 0.596);
   font-family: 'Michroma', sans-serif;
   padding-left: 200px;

 }


 .media{
    margin-top: 15ch;
    
 }
 /* end  all contact tags */
 
 .profile{
     margin-top: 15ch;
   text-align: center;
     font-size: 20px;
     color: #f2f2f2;
 }
 .qualification{
   text-align: center;
   width: auto;
   height: auto;
   font-size: 20px;
   color: white;

 }

 .qualifications{
  margin: 0;
  position: relative;
  top: 160PX;
  left: 90%;
  transform: translate(-50%, -50%);
 }

.comman{
   color: aqua;
   font-size: 60px;
   text-align: center;
}

.box{
   
   width: auto;
   height: auto;
   
}



#myBtn {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 30px;
   z-index: 99;
   font-size: 18px;
   border: none;
   outline: none;
   background-color: rgb(105, 45, 45);
   color: white;
   cursor: pointer;
   padding: 15px;
   border-radius: 4px;
 }
 
 #myBtn:hover {
   background-color: #555;
 }
 
